@model Item
<!-- Page to confirm delete an spesific item -->

<h2>Delete Confirmation</h2>
<h3>Are you sure you want to delete this item?</h3>

<!-- Item name and picture, centralized -->
<div class="text-center">
    <h1>@Model.Name</h1>
    <!-- Displays items image with widhth 200px and with responsive scaling of the hight -->
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid" style="max-width: 200px;" />
    <div>

        <!-- Table for displaying basic item details in rows -->
        <table class="table">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item Id</td>
                    <td>@Model.ItemId</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>@Model.Category</td>
                </tr>
                <tr>
                    <td>Certificate</td>
                    <td>@Model.Certificate</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--buttons for delete and cancel-->
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.ItemId" method="post">
        <input type="hidden" asp-for="ItemId" />
        <button type="submit" class="btn btn-danger mt-3 mb-5">Delete</button>
        <a asp-action="Index" class="btn btn-secondary mt-3 mb-5">Cancel</a>
    </form>
