@model Item
<!-- Page to display detailed information of a specific item -->

<!-- Name and (if) picture in the top section -->
<div class="text-center my-5">
    <h1>@Model.Name</h1>
    <!-- Displays items image with widhth 200px and with responsive scaling of the hight -->
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid" style="max-width: 200px;" />
</div>

<div class="container">
    <div class="row">
        <!-- Nutritional values per 100g - left column -->
        <div class="col-md-5" style="margin-right: 90px;"> <!-- Adds margin between columns -->
            <h4>Nutritional Values per 100g</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <!-- Nutritional values-->
                <tbody>
                    <tr>
                        <td>Calories</td>
                        <td>@Model.Energy</td>
                    </tr>
                    <tr>
                        <td>Carbohydrates</td>
                        <td>@Model.Carbohydrates</td>
                    </tr>
                    <tr>
                        <td>Sugar</td>
                        <td>@Model.Sugar</td>
                    </tr>
                    <tr>
                        <td>Protein</td>
                        <td>@Model.Protein</td>
                    </tr>
                    <tr>
                        <td>Fat</td>
                        <td>@Model.Fat</td>
                    </tr>
                    <tr>
                        <td>Saturated Fat</td>
                        <td>@Model.Saturatedfat</td>
                    </tr>
                    <tr>
                        <td>Unsaturated Fat</td>
                        <td>@Model.Unsaturatedfat</td>
                    </tr>
                    <tr>
                        <td>Fiber</td>
                        <td>@Model.Fibre</td>
                    </tr>
                    <tr>
                        <td>Salt</td>
                        <td>@Model.Salt</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Product information right column -->
        <div class="col-md-5"> <!-- Adjusted width for balanced spacing -->
            <h4>Product Information</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>

                <!-- Product infromation properties-->
                <tbody>
                    <tr>
                        <td>Country of Origin</td>
                        <td>@Model.CountryOfOrigin</td>
                    </tr>
                    <tr>
                        <td>Country of Provenance</td>
                        <td>@Model.CountryOfProvenance</td>
                    </tr>
                    <tr>
                        <td>Created Date</td>
                        <td>@Model.CreatedDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                    <tr>
                        <td>Updated Date</td>
                        <td>@Model.UpdatedDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--buttons for update and returning to main page-->
<a asp-action="Update" asp-route-id="@Model.ItemId" class="btn btn-success mt-3 mb-5">Update</a>
<a asp-action="Index" class="btn btn-secondary mt-3 mb-5">Back to main page</a>
