@model FoodRegistration.Models.Item

<div class="text-center my-5">
    <h1>@Model.Name</h1>
    <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid" />
</div>

<h4>Nutritional Values per 100g</h4>
<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Calories</td>
            <td>@Model.Energi</td>
        </tr>
        <tr>
            <td>Carbohydrates</td>
            <td>@Model.Carbohydrates</td>
        </tr>
        <tr>
            <td>Sugar</td>
            <td>@Model.Sugar</td>
        </tr>
        <tr>
            <td>Protein</td>
            <td>@Model.Protein</td>
        </tr>
        <tr>
            <td>Fat</td>
            <td>@Model.Fat</td>
        </tr>
        <tr>
            <td>Saturated Fat</td>
            <td>@Model.Saturatedfat ?? 0</td> <!-- Vise 0 hvis null -->
        </tr>
        <tr>
            <td>Unsaturated Fat</td>
            <td>@Model.Unsaturatedfat ?? 0</td> <!-- Vise 0 hvis null -->
        </tr>
        <tr>
            <td>Fiber</td>
            <td>@Model.Fiber</td>
        </tr>
        <tr>
            <td>Salt</td>
            <td>@Model.Salt</td>
        </tr>
    </tbody>
</table>

 <p><a href="/Home/Index">Back to Index View</a></p>

@* @if (Model.Nutrients != null) // Check if Nutrition data exists
{
    <h4>Nutritional Information</h4>
    <ul>
        <li><strong>Energi (kcal):</strong> @Model.Nutrients.Energi</li>
        <li><strong>Fett (g):</strong> @Model.Nutrition.Fett</li>
        <li><strong>Mettede fettsyrer (g):</strong> @Model.Nutrition.MettedeFettsyrer</li>
        <li><strong>Umettede fettsyrer (g):</strong> @Model.Nutrition.UmettedeFettsyrer</li>
        <li><strong>Karbohydrater (g):</strong> @Model.Nutrition.Karbohydrater</li>
        <li><strong>Sukkerarter (g):</strong> @Model.Nutrition.Sukkerarter</li>
        <li><strong>Kostfiber (g):</strong> @Model.Nutrition.Kostfiber</li>
        <li><strong>Protein (g):</strong> @Model.Nutrition.Protein</li>
        <li><strong>Salt (g):</strong> @Model.Nutrition.Salt</li>
    </ul>
}
else
{
    <p>No nutritional information available.</p>
}
 *@