@model IEnumerable<FoodRegistration.Models.Item>

@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

@* Overskrift 
<div class="text-center">
    <h1 class="display-4">Table over tracked food items</h1>
</div>
 *@

@* Overskrift *@
<div class="text-center">
    <h1 class="display-4">Tabel over tracked food items</h1>
</div>


@* Tabel over food items alredy tracked *@
<body>
    <div class="container">
        <h1>@ViewBag.CurrentViewName</h1>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Sertifikat</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
                {
                     @* Gjør hele tabellr ad klikkbar så du kommer til tilhørende produkt *@
                    <tr onclick="location.href='@Url.Action("Details", "Home", new { id = item.ItemId })'" style="cursor:pointer;">
                        <td>@item.ItemId</td>
                        <td>@item.Name</td>
                        <td>@item.Category</td>
                        <td>@item.Sertifikat</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                            {
                                <img src="@item.ImageUrl" alt="@item.Name" style="width:50px;height:50px;"/>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @* må fikses: *@
     @*   <p>
         <a class="btn btn-secondary"
           href="Home/Create" asp-action="Home/Create">Create New Item</a>
    </p>   *@
    <a href="Home/Create" class="btn btn-secondary">Go to Create</a>
    </div>
</body>
</html>
